:root {
  --main-color: #002e92;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 100%;
  transition: 0.3s;
  box-sizing: border-box;
}

input {
  background-color: var(--main-color);
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
}

input:focus {
  background-color: var(--main-color);
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
