* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 100%;
  box-sizing: border-box;
}

input {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
}
