:root {
  --main-color: #002e92;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
}

input {
  background-color: var(--main-color);
  color: #fff;
  border: 2px solid #fff;
  outline: 2px solid transparent;
  padding: 15px;
  font-size: 16px;
}

input::placeholder {
  color: #ccc;
}

input:focus {
  background-color: var(--main-color);
  color: #fff;
  outline-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

button {
  width: 250px;
  background-color: var(--main-color);
  color: #fff;
  padding: 15px;
  outline: none;
  border: 2px solid #fff;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: var(--main-color);
}
